* {
    padding: 0;
    margin: 0;
}

header {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(b.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
h1 {
    color: #ffffff;
    font: 4em sans-serif;
    font-family: monospace;
    white-space: nowrap;
    text-align: center;
    margin-top: -560px;
    margin-left: 0px;
    margin-right: -100px;
    border: 2.5px, solid, rgb(94, 94, 94);
    width: 35%;
}
ul {
    color: #d4f5ff;
    font: 1.6em sans-serif;
    font-family: monospace;
    text-align: center;
    white-space: nowrap;
    margin-left: 0px;
    margin-right: 0px;
}
nav {
    color:rgb(255, 255, 255);
    margin-right: 76%;
    margin-top: -38%;
    border: 2.5px, solid, rgb(94, 94, 94);
    width: 18%;
}
a {
    white-space: nowrap;
    font-family: monospace;
    color:rgb(255, 255, 255)
}
img {
    width: 350px;
    height: 350px;
    margin-top: -30%;
    margin-left: 30%;
}
div {
    margin-top: -25%;
    margin-left: 35%;
}
h2 {
    font: 2em sans-serif;
    font-family: monospace;
    color: rgb(255, 255, 255);
}